<div class="my-landing-page-container">
<div class="jumbotron">
    <h1 class="display-3">ANGULAR LEARNING</h1>
    <p class="lead">Course project web page for learning Angular Framework</p>
    <p><a class="btn btn-lg btn-success" routerLink = "/products" role="button">Browse Products</a></p>
    <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" routerLink = "/library" data-toggle="modal" data-target="#exampleModal">
          Virtual Library
        </button>
  </div>
</div>  